<%= render 'layouts/navbar' %>

    <!-- Begin main content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 well extra-spacing">
            <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
                <h2>Edit User</h2>
                <p>Change the user's password or level. The user can also be removed from the system.</p>
                <br>
                <form>
                    <h5>Username: profBill</h5>
                    <h5>Email: wtkrieger@noctrl.edu</h5>
                    <br>
                     <div class="form-group">
                        <label for="userType">User Level: </label>
                        <select class="form-control">
                            <option value="standard">Standard</option>
                            <option value="admin">Admin</option>
                            <option value="entry">Entry</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pNew">New Password: </label>
                        <input type="password" class="form-control" id="pNew">
                    </div>
                    <div class="form-group">
                        <label for="pConf">Confirm Password: </label>
                        <input type="password" class="form-control" id="pConf">
                    </div>
                    <div class="form-group">
                        <a href="/admin/admin1">
                            <btn class="btn btn-success btn-wide extra-right-margin">Update User</btn>
                        </a>
                        <a href="/admin/admin1">
                            <btn class="btn btn-danger btn-wide">Cancel</btn>
                        </a>
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <a href="/admin/admin1">
                            Delete Account
                        </a>
                    </div>
                </form>

            </div>
        </div>
        </div>
    </div>