@import "bootstrap-sprockets";
@import "bootstrap";
@import "fullcalendar";
@import "font-awesome";

/* Variables */

$background:#22ADC9;
$links:#22ADC9;
$backgroundNCC: #C1272D;
$redStar: #FD0004;
$dangerColor: #d9534f;
$gray: #777;
$containerColor:white;

/* Custom Styles */

/* Give some extra padding for under the navbar*/

body {
    background-color: $background;
    padding-top: 130px;
}

.ncc {
    background-color: $backgroundNCC;
}


/* Footer needs to fit almost the whole screen,
and give it some spacing*/

.footer .container {
    max-width: 95%;
    padding-top: 20px;
}


/* basic link coloring*/

a {
    color: $links;
}


/* Mainly for the about link;
    Might change the id on the about link
    so that this is clearer
*/

.footer a {
    float: right;
}


/* Simple design for the white box/background
    seen on most pages
*/

.white-container {
    background-color: $containerColor;
    padding-top: 30px;
    margin-bottom: 90px;
    padding-bottom: 30px;
}

.container.white-container {
    background-color: $containerColor;
    padding-top: 30px;
    margin-bottom: 90px;
    padding-bottom: 30px;
}


/*
Class to accompany a .well on certain pages if the container needs to be slightly wider
*/

.extra-spacing {
    padding-top: 30px;
    margin-bottom: 90px;
    padding-bottom: 30px;
}


/* Custom text sizing */

.text-danger {
    color: $dangerColor;
}


/* Needed to make the buttons larger for some screens */

.btn-wide {
    width: 40%;
}


/* Extra margin classes for various elements*/

.extra-right-margin {
    margin-right: 65px;
}

.extra-top-margin {
    margin-top: 52px;
}

.extra-bottom-margin {
    margin-bottom: 5px;
}


/* Styles for the calendar on the Add Pickup Day screen*/

.calendar {
    width: 100%;
    height: 60%;
}


/* Styles for the tables */

.table-title {
    margin-left: 65px;
}

.table-hover tbody tr:hover td {
    background-color: $background;
    color: white;
}


/* formating for Home2*/


/* Red required icon */

.red {
    color: $redStar;
}

.padding-top {
    padding-top: 20px;
}

input[type=number] {
    text-align: right;
}


/* Header, logo styling*/

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: $gray;
    letter-spacing: -1px;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: bold;
    :hover {
        text-decoration: none;
    }
}


/* Navbar styling*/

.navbar {
    padding-bottom: 37px;
}

.navbarAbout {
    padding-bottom: 70px;
}

.custom-navbar {
    padding-top: 25px;
    padding-right: 60px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: orange;
}

.nav-pills li a {
    color: $links;
}

nav.navbar {
    // Animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Help Page Styles */

.hidden-default {
    display: none;
}

.question {
    overflow: hidden;
}

.question h4 {
    vertical-align: middle;
    display: inline-block;
}

span.fa.helpIcon {
    float: right;
    font-size: 48px;
}

@media print {
    .hidden-default {
        display: inline;
    }
}

@media (max-width: 992px) {
    .question h4 {
        font-size: 11px;
    }
    span.fa.helpIcon {
        font-size: 24px;
    }
}


/* Other styles */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th {
    border: none;
}

.popover {
    max-width: 550px;
}
