
 /* Custom Styles */

/* basic link coloring*/

a {
    color: #22ADC9;
}

/* Simple design for the white box/background
    seen on most pages
*/

.white-container {
    background-color: white;
    padding-top: 30px;
    margin-bottom: 90px;
    padding-bottom: 30px;
}


/* Custom text sizing */

.text-lg {
    font-size: 18px;
}


/* Needed to make the buttons larger for some screens */

.btn-wide {
    width: 40%;
}

.btn-50 {
    width: 50%;
}

.ncc-button{
	background-color: #000543;
}


body {
    background-color: #22ADC9;
    padding-top: 130px;
}

.ncc {
    background-color: #000543;
	
}

.ncc-img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
	background-image:url(../images/transparent_Space.png);
}

/*HEXAGONS */

section {
	display: block;
}

#group {
	width: 1000px;
	overflow: hidden;
	padding-bottom: 70px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 2.5em;
	

	-webkit-transition: all ease 500ms;
	-moz-transition: all ease 500ms;
	-o-transition: all ease 500ms;
	-ms-transition: all ease 500ms;
	transition: all ease 500ms;
}

.group_item {
	width: 200px;
	height: 230px;
	position: relative;
	display: inline-block;
}

.hexagon2 {
	position: absolute;
	width: 200px;
	height: 400px;
	top: -85px;
}

.hexagon {
	overflow: hidden;
	visibility: hidden;

	-webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
	
}

.hexagon-in1 {
	overflow: hidden;
	width: 100%;
	height: 100%;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon-in2 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;

	-webkit-background-size: 125%;
	-moz-background-size: 125%;
	background-size: 125%;
	visibility: visible;

	-webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);

	
}

/*set hover opacity*/
.hexagon:hover {
	opacity: 0.8;
	transition: 0.25s;
}

#group article {
	padding-top: 1em;
	width: 820px;
	margin: 0 auto;
}

.group_item:nth-child(7n-2) {
	margin-left: 101px;
}

.group_item:nth-child(n+5) {
	margin-top: -55px;
}

@media (max-width: 1015px) {
	#group {
	width: 100%;
}

}

@media (max-width: 820px) {
	.group_item:nth-child(5n-1) {
	margin-left: 102px;
}

.group_item:nth-child(n+4) {
	margin-top: -62px;
}

.group_item:nth-child(7n-2) {
	margin-left: 0px;
}

.group_item:nth-child(n+5) {
	margin-top: -56px;
}

#group article {
	width: 610px;
}

}

@media (max-width: 640px) {
	#group article {
	width: 405px;
}

.group_item:nth-child(5n-1) {
	margin-left: 0px;
}

.group_item:nth-child(3n) {
	margin-left: 102px;
}

.group_item:nth-child(n+3) {
	margin-top: -56px;
}

}

@media (max-width: 450px) {
		#group article {
		width: 300px;
	}
	
	.group_item:nth-child(3n) {
		margin-left: 0px;
	}
	
	.group_item:nth-child(2n) {
		margin-left: 102px;
	}
	
	.group_item:nth-child(n+2) {
		margin-top: -56px;
	}
}
