<% provide(:title, "Reports") %>
<%= render 'layouts/navbar' %>

    <div class="container ">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 well extra-spacing">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-xs-offset-1">
                        <h2>Reports</h2>
                        <p>Select an option below to export a report.</p>
                        <br />
                    </div>

                    <div class="row">
                        <div class="col-xs-10 col-sm-4 col-xs-offset-1">
                            <a href="/reports/truck">
                                <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Truck Report</btn>
                            </a>
                        </div>
                        <div class="col-sm-7 col-xs-11 col-xs-offset-1 col-sm-offset-0">
                            <p>Export daily pickup schedule report.</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-10 col-sm-4 col-xs-offset-1">
                            <a href="/reports/mapquest">
                                <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;MapQuest</btn>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-11 col-xs-offset-1 col-sm-offset-0">
                            <p>Export daily MapQuest Routes report.</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-10 col-sm-4 col-xs-offset-1">
                            <a href="/reports/donor">
                                <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-save-file"></span>&nbsp;&nbsp;Export Donors</btn>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-11 col-xs-offset-1 col-sm-offset-0">
                            <p>Export monthly donor data to CSV files.</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-10 col-sm-4 col-xs-offset-1">
                            <a href="/reports/rejected">
                                <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;&nbsp;Rejected Pickups</btn>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-11 col-xs-offset-1 col-sm-offset-0">
                            <p>Export monthly rejected pickups report.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
