<% provide(:title, "Reports") %>
<%= render 'layouts/navbar' %>

    <div class="container ">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 well extra-spacing">
                <div class="col-xs-12">
                    <div class="col-xs-12 col-xs-offset-1">
                        <h2>Reports</h2>
                        <p>Select a report below.</p>
                        <br/>
                    </div>

                    <div class="row">
                        <div class="col-xs-10 col-sm-4 col-xs-offset-1">
                            <a href="/reports/truck">
                                <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;Truck Report</btn>
                            </a>
                        </div>
                        <div class="col-sm-7 col-xs-11 col-xs-offset-1 col-sm-offset-0">
                            <p>Report all the pickups on a day for the truck.</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-10 col-sm-4 col-xs-offset-1">
                            <a href="/reports/mapquest">
                                <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;MapQuest</btn>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-11 col-xs-offset-1 col-sm-offset-0">
                            <p>Export pickup data in MapQuest Route Planner CSV format.</p>
                        </div>
                    </div>
                    <br>
                    <% if !is_entry? %>
                    <div class="row">
                        <div class="col-xs-10 col-sm-4 col-xs-offset-1">
                            <a href="/reports/donor">
                                <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-save-file"></span>&nbsp;&nbsp;Donors</btn>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-11 col-xs-offset-1 col-sm-offset-0">
                            <p>Export monthly donor data in CSV format.</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-10 col-sm-4 col-xs-offset-1">
                            <a href="/reports/rejected">
                                <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-ban-circle"></span>&nbsp;&nbsp;Rejected</btn>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-11 col-xs-offset-1 col-sm-offset-0">
                            <p>Export all rejected pickups for a month in CSV format.</p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-10 col-sm-4 col-xs-offset-1">
                            <a href="/reports/search">
                                <btn class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-search"></span>&nbsp;&nbsp;Search</btn>
                            </a>
                        </div>
                        <div class="col-sm-6 col-xs-11 col-xs-offset-1 col-sm-offset-0">
                            <p>Search through donor database with a last name and city.</p>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
