<div class='footer'>
    <div class="container">
        <div class='col-xs-6'>
            &copy; 2016
        </div>
        <div class='col-xs-5 text-right'>
            <a href='/about'>About</a>
        </div>
        <div class='col-xs-1 text-right'>
            <a href="" data-toggle="modal" data-target=".help-modal">Help</a>
        </div>
    </div>
    <%= render 'layouts/help_modal' %>
</div>
<script>
$(document).ready(function() { // borrowed from: https://gist.github.com/daverogers/5375778
	// get current URL path and assign 'active' class
	var pathname = '/' + window.location.pathname.split('/')[1];
	// if we are doing anything with users, its in the dropdown so check that first
	if(pathname == "/users"){ $('.nav > li[class="dropdown"]').addClass('active'); }
	// else there will be a nav item that matches the url so light it up
	else { $('.nav > li > a[href^="'+pathname+'"]').parent().addClass('active'); }
})
$("tr[data-link]").click(function() {
  window.location = this.dataset.link
})
</script>
