<div class='footer'>
    <div class="container">
        <div class='col-xs-6'>
            &copy; 2016
        </div>
        <div class='col-xs-5 text-right'>
            <a href='/about'>About</a>
        </div>
        <div class='col-xs-1 text-right'>
            <a href="/help">Help</a>
        </div>
    </div>
</div>
<script>
$(document).ready(function() { // borrowed from: https://gist.github.com/daverogers/5375778
	//Set a unnoticable delay here so that on pages where we get routed to "/" the rails code has
	//    enough time to redirect us so our route doesnt match "/" but rather "/pickups".
	setTimeout(function() {
    	// get current URL path and assign 'active' class
    	var pathname = '/' + window.location.pathname.split('/')[1];
    	// if we are doing anything with users, its in the dropdown so check that first
    	if(pathname == "/users"){ $('.nav > li[class="dropdown"]').addClass('active'); }
    	// else there will be a nav item that matches the url so light it up
    	else { $('.nav > li > a[href^="'+pathname+'"]').parent().addClass('active'); }
	}, 50);
})
$("tr[data-link]").click(function() {
  window.location = this.dataset.link
})
</script>
