<!-- <a data-toggle="modal" data-target=".help-modal">Help</a> -->

<style>
  .carousel-control {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #808080;
    text-align: center;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  .carousel-control:hover, .carousel-control:focus, .carousel-control:active{
    color: #808080;
    
  }
  .carousel-control.right {
      right: 15px;
      left: auto;
      background-image:none;
  }
  .carousel-control.left {
      background-image:none;
  }
</style>

<div class="modal fade help-modal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="carousel" class="carousel slide" data-interval="false">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" style="min-height:500px !important;">
          <div class="item active">
            <div class="row" style="padding:75px;">
              <h2><%= request.path %></h2>
              <div class="col-xs-6 col-xs-offset-1">
                <div style="background-color:#5cb85c;border-radius:25px;width:20%;height:35px;"></div>
                  <% (4).times do %>
                    <div style="background-color:#ffffff;border-radius:25px;width:100%;height:25px;"></div>
                    <div style="background-color:#d8d8d8;border-radius:25px;width:100%;height:25px;"></div>
                  <% end %>
              </div>
              <div class="col-xs-4">
                <br/><br/>
                <p>Here is some helpful text about how most pages on the site will have a layout like the following. A nice green button to add stuff and then a table listing all the current stuff.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <% if request.path == "/days" %>
              <div class="row" style="padding:75px;">
                <p>We show something different here because on the days page they will have a calendar instead of a form</p>
              </div>
            <% else %>
              <div class="row" style="padding:75px;">
                <div class="col-xs-4 col-xs-offset-1">
                  <p>Here is some more helpful text explaining that when you click the nice little green button, you will be prompted with some form where you will enter the stuff in. Clicking another nice little green button submits the form and brings you back to the first page with a confirmation that we did something.</p>
                </div>
                <div class="col-xs-6">
                  <% (4).times do %>
                    <div style="background-color:#ffffff;border-radius:25px;width:50%;height:25px;"></div>
                    <div style="display:-webkit-flex;display:flex;">
                      <div style="background-color:#d8d8d8;border-radius:8px;height:13px;width:15%;padding-right:10px;"></div>
                      <div style="background-color:#ffffff;border:solid 1px #808080;border-radius:25px;width:50%;height:25px;flex:1;"></div>
                    </div>
                  <% end %>
                  <div style="background-color:#ffffff;border-radius:25px;width:50%;height:25px;"></div>
                  <div style="display:-webkit-flex;display:flex;justify-content:center;">
                    <div style="background-color:#d9534f;border-radius:25px;width:20%;height:35px;"></div>
                    <div style="background-color:#5cb85c;border-radius:25px;width:20%;height:35px;"></div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="item">
            <div class="row" style="padding:75px;">
              <div class="col-xs-6 col-xs-offset-1">
                <div style="background-color:#a6d8a6;border: 1px solid #5cb85c;border-radius:5px;width:100%;height:45px;"><span class="glyphicon glyphicon-ok" style="color:#ffffff;"></span> &nbsp;&nbsp; <span style="color:#ffffff">You did a thing!</span></div>
                <div style="background-color:#ffffff;border-radius:25px;width:50%;height:25px;"></div>
                <div style="background-color:#5cb85c;border-radius:25px;width:20%;height:35px;"></div>
                  <% (4).times do %>
                    <div style="background-color:#ffffff;border-radius:25px;width:100%;height:25px;"></div>
                    <div style="background-color:#d8d8d8;border-radius:25px;width:100%;height:25px;"></div>
                  <% end %>
              </div>
              <div class="col-xs-4">
                <br/><br/>
                <p>Here is some final text to say 'hey, if you did a thing, you'll see the system tell you that'.</p>
              </div>
          </div>
          </div>
        </div>
        
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>