<p>Thank you for contacting Sharing Connections. We strive to make sure that our client families
will be able to keep their furniture for a least five years after receiving it. In order for that to
happen, we cannot accept anything in need of repair, or anything that is ripped, stained, torn, or
worn to the point where ripping and tearing may occur. Similarly, we cannot accept anything
with pet hair or cigarette smoke on it, for allergy risks. I do apologize, but we will not be able to
accept your items.</p>
