<p>Unfortunately it is now illegal in Illinois for us to provide drop side cribs to families. I believe
that you are going to find that to be the case for all orgs and even resale shops. I will say
however that we are under the impression that it is not illegal for you to personally give the crib
to someone you know who needs. If you are unable to find an individual to give it to, we could
always use the crib mattress.</p>
