<p>Thank you for contacting Sharing Connections. Unfortunately, we do not yet pick up donations
in your area. Please contact one of the following charities to have your donation picked up:</p>

<p>Grace Resale & Furniture &nbsp;&nbsp; 630-835-6443<br/>
Restoration Ministries &nbsp;&nbsp; 708-876-8413</p>
