<p>Thank you for contacting Sharing Connections. Unfortunately, your donation does not meet one
or more of our donation requirements.</p>
<p>Donation Requirements:</p>

<p>1. The furniture must be at groundlevel,
on the firstfloor,
in a garage, or on a loading dock (we
do not have time to pick up donations via elevators). All items being donated from a garage or
storage unit must be staged to the front of the garage or storage unit for easy access for our
volunteer truck crew. If this is not possible, please see below for alternative organizations that
can accommodate your situation.</p>

<p>2. There can be no rips, stains, tears, water damage, excessive cigarette odor, cracks in leather, or
pet fur on any of the items, and we cannot accept any items in need of repair. We do not have
the facilities to clean or make repairs.</p>

<p>3. We do not accept any glasstop
tables, wicker or rattan furniture, desks or home office
equipment,</p>
<p>4. We are no longer picking up china cabinets, servers, buffets, entertainment centers or TV
storage cabinets.</p>
